$main-text-color: #fff;

$calc-text-color: #a0a0a0;

$calc-background: #8ca1a4;

$calc-input-background: #384648;

$turquoise-color: #8cd0d0;

$toggle-background-first: #1c2022;

$toggle-background-second: #6691a1;
